.note__container {
  list-style: none;
}
.note__content {
  width: 200px;
  border: 1px #ccc solid;
  padding: 20px 10px;
}
.note__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.note__title {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__delete {
  cursor: pointer;
}

.note__description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__category {
  overflow: hidden;
  text-overflow: ellipsis;
}
